header {
    z-index: 10;
    position: relative;
}

header .navbar .navbar-nav a {
    color: var(--text-color) !important;
}

#theme-toggle {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.navbar-toggler {
    border: none;
    outline: none;
    color: var(--text-color);
}
.navbar-toggler svg {
    fill: currentColor;
    color: var(--text-color);
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 .05em;
}
.navbar-text {
    font-size: 16px !important;
    opacity: 0.95;
}
header .nav-link{
    transition: none !important;
}
.navbar-brand {
    color: var(--primary-color) !important;
    opacity: 0.95;
} 
.navbar .nav-link:hover {
    color: var(--primary-color) !important;
}

li > .dropdown-toggle:focus{
    color: var(--primary-color) !important;
}

.dropdown-menu {
    overflow: auto;
    /* z-index: 100; */
    background-color: var(--background-color) !important;
    border-color: var(--text-secondary-color) !important;
}

.dropdown-item:hover {
    background-color: var(--secondary-color) !important;
}

.dropdown-item:focus, .dropdown-item:active {
    background-color: var(--secondary-color) !important;
}

#dark-mode-toggle {
    color: #212121 !important;
}

#education {
    border: 10px !important;
}

#search {
    border-radius: 1rem !important;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: none;
}

#search:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#search-content {
    -ms-scroll-chaining: none;
    scrollbar-width: none;
    display: none;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 9999;
    width: 10%;
    max-height: 350px;
    background-color: var(--secondary-color) !important;
    position: absolute;
    overflow: scroll;
}

#search-content::-webkit-scrollbar {
    display: none;
}

#search-results > .card {
    background-color: transparent !important;
    border: none;
    margin-bottom: 10px;
}

#search-results > .card :hover {
    border-radius: 1rem !important;
    background-color: var(--background-color) !important;
    transition: .2s;
}

#search-results .card a {
    opacity: 0.9;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color) !important;
}

#search-results .card a:hover {
    color: var(--primary-color) !important;
}