{{ if .Site.Params.experience.enable | default false }}
<section id="experience" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.experience.title | default "Experience" }}</h3>
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-8 py-5">
                <div class="experience-container px-3 pt-2">
                    <ul class="nav nav-pills mb-3 bg-transparent primary-font" id="pills-tab" role="tablist">
                        {{ range $index, $element := .Site.Params.experience.items }}
                        {{ if (eq $index 0) }}
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div 
                                class="nav-link active bg-transparent" 
                                aria-selected="true" 
                                role="tab" 
                                data-bs-toggle="pill"
                                id='{{ replace .date " " "-" }}-tab'
                                data-bs-target='#pills-{{ replace .date " " "-" }}'
                                aria-controls='{{ replace .date " " "-" }}' 
                            >
                                {{ $element.job }}
                            </div>
                        </li>
                        {{ else }}
                        <li class="nav-item px-1 bg-transparent" role="presentation">
                            <div 
                                class="nav-link bg-transparent" 
                                aria-selected="true" 
                                role="tab" 
                                data-bs-toggle="pill"
                                id='{{ replace .date " " "-" }}-tab'
                                data-bs-target='#pills-{{ replace .date " " "-" }}' 
                                aria-controls='{{ replace .date " " "-" }}'
                            >
                                {{ $element.job }}
                            </div>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                    <div class="tab-content pb-5 pt-2 bg-transparent primary-font" id="pills-tabContent">
                        {{ range $index, $element := .Site.Params.experience.items }}
                        {{ if (eq $index 0) }}
                        <div 
                            class="tab-pane fade show active bg-transparent" 
                            role="tabpanel"
                            id='pills-{{ replace .date " " "-" }}'
                            aria-labelledby='pills-{{ replace .date " " "-" }}-tab'
                        >
                            {{ range $index2, $element2 := .items }}
                            <div>
                                {{ if (ne $index2 0) }}
                                <br/>
                                {{ end }}
                                <span class="h4">{{ .company }}</span>
                                <div class="pb-1">
                                    <small>{{ .date }}</small>
                                </div>
                            </div>
                            {{ .content | markdownify }}
                            {{ end }}
                        </div>
                        {{ else }}
                        <div 
                            class="tab-pane fade bg-transparent" 
                            role="tabpanel"
                            id='pills-{{ replace .date " " "-" }}'
                            aria-labelledby='pills-{{ replace .date " " "-" }}-tab'
                        >
                            {{ range $index2, $element2 := .items }}
                            <div>
                                {{ if (ne $index2 0) }}
                                <br/>
                                {{ end }}
                                <span class="h4">{{ .company }}</span>
                                <div class="pb-1">
                                    <small>{{ .date }}</small>
                                </div>
                            </div>
                            {{ .content | markdownify }}
                            {{ end }}
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
